general {
  output_format = "i3bar"
  colors = true
  interval = 5
}

order += "disk /"
order += "load"
order += "volume master"
order += "time"

load {
  format = "%5min"
}

time {
  format = "%Y-%M-%d %H:%M"
}

disk "/" {
  format = "%free"
}

volume master {
  device = "default"
  mixer = "Master"
  mixer_idx = 0
  format = "♪: %volume"
}
